nav{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a{
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
}
